<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.wj.mapper.UserMapper">
    <select id="findByUsername" parameterType="string" resultType="user">
        select * from user
        <where>
            <if test="username != null">
                username = #{username}
            </if>
        </where>
    </select>
    <select id="getByUsernameAndPassword" parameterType="string" resultType="user">
        select * from user
        <where>
            <if test="username != null">
                username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
        </where>
    </select>
</mapper>